[name="step2"] {
    .question {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $color_text_main;
        margin-bottom: 16px;
        @media (min-width: 1200px) {
            margin-bottom: 32px;
            font-size: 20px;
            line-height: 24px;
        }
    }
    .toggleContainer {
        margin-bottom: 40px;
        @media (min-width: 1200px) {
            margin-bottom: 37px;
        }
    }
    .question2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;
        @media (min-width: 1200px) {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 37px;
        }
    }
    .sliderContainer {
        max-width: 311px;
        @media (min-width: 1200px) {
            max-width: 309px;
        }
    }
    .sliderContainer__valueContainer {
        max-width: 311px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        border: 1px solid #ecf1f2;
        border-radius: 2px;
        .sliderContainer__value {
            width: 50%;
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0;
        }
    }
    .sliderContainer__Containertip {
        max-width: 311px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        .sliderContainer__tip {
            width: 50%;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0;
            color: rgba(20, 20, 20, 0.5);
        }
    }
    .om-sliderrange-display {
        display: none !important;
    }
    .om-sliderrange-range-indicator {
        background-color: $color_bg_accent;
    }
    .om-sliderrange-range:before {
        background-color: #ecf1f2;
    }
    .om-sliderrange-button-start,
    .om-sliderrange-button-end {
        width: 18px;
        height: 18px;
        background-color: $color_bg_accent;
    }
}