[name="step2"] {
    .question {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $color_text_main;
        margin-bottom: 16px;
        @media (min-width: 1200px) {
            margin-bottom: 32px;
            font-size: 20px;
            line-height: 24px;
        }
    }
    .toggleContainer {
        margin-bottom: 40px;
        @media (min-width: 1200px) {
            margin-bottom: 37px;
        }
    }
    .question2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;
        @media (min-width: 1200px) {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 37px;
        }
    }
    .sliderContainer {
        max-width: 311px;
        @media (min-width: 1200px) {
            max-width: 309px;
        }
    }
    .sliderContainer__valueContainer {
        max-width: 311px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        border: 1px solid #ecf1f2;
        border-radius: 2px;
        .value__wrap {
            position: relative;
            height: 100%;
            width: 100%;
            &::after {
                content: " руб.";
                position: absolute;
                top: 11px;
                right: 28px;
                text-align: center;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0;
                z-index: 10;
            }
        }
        .sliderContainer__value {
            height: 100%;
            width: 100%;
            padding: 0 64px 0 8px;
            text-align: right;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0;
            border: none;
            border-radius: 1px;
            &:first-child {
                box-shadow: inset -0.5px 0px #ecf1f2;
            }
            &:last-child {
                box-shadow: inset 0.5px 0px #ecf1f2;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &[type="number"] {
                -moz-appearance: textfield;
            }
            &:focus {
                outline: none;
                box-shadow: inset -1px -1px $color_bg_accent, inset 1px 1px $color_bg_accent;
            }
        }
    }
    .sliderContainer__Containertip {
        max-width: 311px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        .sliderContainer__tip {
            width: 50%;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0;
            color: rgba(20, 20, 20, 0.5);
        }
    }
    #range-slider {
        padding: 0 9px;
    }
    .noUi-target {
        background: #ecf1f2;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
    .noUi-horizontal {
        height: 2px;
    }
    .noUi-connect {
        background: $color_bg_accent;
    }
    .noUi-horizontal .noUi-handle {
        width: 18px;
        height: 18px;
        right: -9px;
        top: -8px;
    }
    .noUi-handle {
        border: 1px solid $color_bg_accent;
        border-radius: 50%;
        background: $color_bg_accent;
        cursor: default;
        box-shadow: none;
    }
    .noUi-handle:after,
    .noUi-handle:before {
        display: none;
    }
}