@import "../variables.scss";
@import "../mixins.scss";
@import "./burger/burger";
.header {
    @include padding_left_right;
    z-index: 2;
    display: flex;
    position: relative;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $color_bg_black;
    color: $color_text_light;
}

.header__logoLink {
    display: block;
    text-decoration: none;
    margin-right: 32px;
    padding: 8px 0;
    @media (min-width: 1400px) {
        margin-right: 80px;
    }
    @media (min-width: 1600px) {
        margin-right: 105px;
    }
    &:hover .header__logoSvg {
        fill: $color_text_accent;
    }
}

[class*="header__logoSvg"] {
    display: block;
    fill: $color_text_light;
    transition: fill ease-in-out 0.3s;
}

.header__content,
.burger__content {
    display: none;
    color: inherit;
    background-color: $color_bg_black;
    box-shadow: -4px 4px 20px rgba(53, 53, 53, 0.3), -4px 4px 40px rgba(53, 53, 53, 0.3);
    @media (min-width: 1200px) {
        display: flex;
        visibility: visible;
        position: static;
        flex: 1 0 auto;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        transform: none;
        box-shadow: none;
    }
}

#burgerModal .burger__content {
    position: relative;
    display: block;
    color: #fff;
    margin: 50px auto;
    width: 500px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 10px rgba(231, 231, 231, 0.3), -0px 0px 40px 10px rgba(226, 226, 226, 0.3);
    .menu__closeButton {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: transparent;
        padding: 16px;
        border: none;
        outline: none;
        align-self: flex-end;
        cursor: pointer;
        &:hover .menu__closeButtonSvg {
            fill: $color_bg_accent;
        }
        .menu__closeButtonSvg {
            fill: $color_bg_gray_dark;
            transition: fill ease-in-out 0.2s;
        }
    }
}

.nav {
    color: inherit;
    background-color: $color_bg_black;
    padding: 0;
    @media (min-width: 375px) {
        padding: 16px;
    }
    @media (min-width: 480px) {
        padding: 24px;
    }
    @media (min-width: 1200px) {
        padding: 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        color: inherit;
        padding-top: 16px;
        @media (min-width: 1200px) {
            flex-direction: row;
            padding-top: 0;
        }
        &Item {
            color: inherit;
            margin-bottom: 16px;
            margin-right: 0px;
            @media (min-width: 1200px) {
                margin-right: 32px;
                margin-bottom: 0px;
            }
            @media (min-width: 1400px) {
                margin-right: 48px;
            }
            @media (min-width: 1600px) {
                margin-right: 64px;
            }
            .nav__link {
                display: block;
                @include padding_left_right;
                padding-top: 8px;
                padding-bottom: 8px;
                color: inherit;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                text-decoration: none;
                transition: color ease-in-out 0.3s;
                @media (min-width: 1200px) {
                    padding: 0;
                    font-size: 16px;
                    line-height: 20px;
                }
                &:hover {
                    color: $color_text_accent;
                }
            }
        }
    }
}

.header__contacts {
    @include padding_left_right;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    color: inherit;
    background-color: $color_bg_black;
    font-size: 16px;
    line-height: 22px;
    border-top: 1px solid $color_bg_gray_dark;
    @media (min-width: 375px) {
        padding: 32px 32px;
    }
    @media (min-width: 480px) {
        padding: 32px 40px;
    }
    @media (min-width: 1200px) {
        padding: 0;
        flex-direction: row;
        align-items: center;
        border: none;
    }
    @media (min-width: 1600px) {
        font-size: 18px;
    }
    .contacts__position {
        display: flex;
        align-items: center;
        color: inherit;
        font: inherit;
        font-weight: 600;
        margin-bottom: 16px;
        text-align: center;
        .contacts__positionIcon {
            margin-right: 8px;
        }
        @media (min-width: 1200px) {
            margin-right: 40px;
            margin-bottom: 0px;
        }
    }
    .contacts__telephoneBlock {
        color: inherit;
        font: inherit;
        text-decoration: none;
        .contacts__telephoneNumber {
            color: inherit;
            font: inherit;
            font-weight: 600;
        }
        .contacts__telephoneMessage {
            color: $color_text_accent;
            font: inherit;
            font-weight: 700;
        }
    }
}